@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* Couleurs personnalisées Agri CEFORPA */
  --color-agri-green: #2D5A27;
  --text-agri-green: #2D5A27;
  --color-agri-light-green: #F0F7EE;
  --color-agri-brown: #8B4513;
  --color-agri-accent: #F4A460;
  --color-agri-dark: #1A2F15;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, sans-serif;
  scroll-behavior: smooth;
}